/* Reset de Estilos Padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    line-height: 1.6;
}

/* Estilos do Cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Estilos da Seção do Herói */
.hero {
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Estilos da Seção de Recursos */
.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color: #fff;
}

.feature {
    text-align: center;
    padding: 20px;
    flex: 1;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Estilos da Seção de Depoimentos */
.testimonials {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.testimonial {
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 30px;
}

.testimonial p {
    font-style: italic;
    color: #333;
}

/* Estilos da Seção de Contato */
.contact {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

/* Estilos do Rodapé */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
